# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Base de dados SQLite
*.db
*.sqlite3

# VS Code
.vscode/

# Base de dados (gerada automaticamente ao iniciar a app)
database/*.db